body {
  padding: 10px;
}
.btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: gray;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn.btn-red {
  background-color: #e74c3c;
  color: #fff;
}
.btn-red:hover {
  background-color: #c0392b;
}
.btn.btn-blue {
  background-color: blue;
  color: #fff;
}
.btn-blue:hover {
  background-color: #2980b9;
}
.btn.btn-green {
  background-color: green;

  color: #fff;
}
.btn-green:hover {
  background-color: greenyellow;
  transition: all 0.5s ease;
}
