input[type="text"] {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
  font-family: inherit;
}

input[type="text"] {
  background: #fff;
  border: 3px dashed teal;
  padding: 10px 20px;
  width: 300px;
  margin: 5px, 0, 10px, 0;
  outline: none;
  color: #777;
  font-size: inherit;
}
input[type="text"]:focus {
  border: 3px dashed tomato;
  transition: all 0.5s ease;
}
